<h1>THIS IS ARTICLES NEW PAGE</h1>
<%= form_for @article ,url: articles_path do |f| %>
  <p>
  <%= f.label :title %>
  <%= f.text_field :title%>
  </p>
  <p>
    <%= f.label :text %>
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'index_page', articles_path %>
